/*.bin
/*.cache
/*.in
/*.log
/*.mode
/*.status
/*.hfst*
/*.ol
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/config
/configure
/install-sh
/langs.cfg
/missing
/modes
/stamp-h1
/paper/auto/
/paper/cslipubscollection.tar.gz
/paper/sme-nob.pdf
/paper/talk/smenob_talk.aux
/paper/talk/smenob_talk.log
/paper/talk/smenob_talk.nav
/paper/talk/smenob_talk.out
/paper/talk/smenob_talk.pdf
/paper/talk/smenob_talk.snm
/paper/talk/smenob_talk.toc
/paper/architecture.eps
/paper/architecture.pdf
/ap_include.am
/t/Pending_tests.html
/t/Regression_tests.html
nob-sme.prob
